{
	"singleQuote": true,
	"arrowParens": "avoid",
	"tabWidth": 2,
	"bracketSpacing": true,
	"printWidth": 180,
	"useTabs": true,
	"formatOnSave": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"semi": true
}
